<footer>
    <!-- <div class="footer-body"> -->

    
    <div id="social">Social Media All rights reserved</div>
    <div id="home">
        <a href="/"> Home</a>
    </div>
    <div id="profile">
        <%if (locals.user){%>
        <a href="/users/profile/<%=locals.user.id%>">Profile</a>
        <%}else{%>
            <a href="/">Profile</a>
        <%}%> 
    </div>
    <!-- </div> -->
        
    
    
</footer>