<link rel="stylesheet" href="<%= assetPath('css/profile_picture.css')%>">  


<div class="container">
    <a href="/users/profile/<%=profile_user.id%>">
        <img id="profile_picture" src="<%= profile_user.avatar %>"  alt="<%=profile_user.name%>" width="100">
    </a>
</div>