<h1>Provide email</h1>

<form name="form" action="/users/provide_email/email_sent" method="POST">
    <input type="email" id="email" name="email" placeholder="Email" required>
    <br>
    <br>
    <input id="password-link" type="submit" value="Generate Password reset Link">
</form>
<div id="message"></div>