footer {
    background-color: rgb(5, 60, 36);
    color: white;
    padding: 2rem;
    a{
        color: white;
    }
    #social{
        display: inline-flex;
        
        
    }
    #home{
        display: inline-flex;
        margin-left: 2rem;
        margin-bottom: 0.5rem;
    }
    #profile{
        margin-left: 15.2rem;
    }
}