header {
  background-color: #0e15ce;
  color: white; }
  header a {
    color: white; }
  header #codeial {
    display: inline-flex;
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold; }
  header #icons {
    background-color: #0e15ce;
    display: inline-flex;
    float: right;
    vertical-align: middle;
    align-items: center;
    padding: 2.5rem; }
  header .anchor-space {
    margin-right: 10px;
    /* Adjust the value based on your desired space */ }
